<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LagerDetectV2</title>
</head>
<body>
    <h1 style="text-align: center;">Es sind noch ungefähr {count1} Spezi Flaschen da!</h1>
    <h1 style="text-align: center;">Es sind noch ungefähr {count2} Cola Flaschen da!</h1>
    <h1 style="text-align: center;">Es sind noch ungefähr {count3} Bier Flaschen da!</h1>
    <img src="img.jpg" alt="" style="display: block; margin:0 auto">
</body>
</html>