<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Refresh" content="120">
    <title>LagerDetectV2</title>
</head>
<style>
    body {
        margin: 0;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
        background-color: lightgray;
    }
    main {
        margin-top: 50px;
        padding: 10px;
    }

</style>

<body>
    <div class="navbar">
        <img src="result.png" alt="" style="width: 50px;height: 50px;">
        <h1>LagerDetectV2</h1>
    </div>

    <main>
        <table>
            <tr>
                <th>Getränk</th>
                <th>Flaschen</th>
                <th>Leere Flaschen</th>
                <th>Prozent</th>
            </tr>
            <tr>
                <td>{name1}</td>
                <td>{count1}</td>
                <td>{empt_count1}</td>
                <td>{prc_count1}</td>
            </tr>
            <tr>
                <td>{name2}</td>
                <td>{count2}</td>
                <td>{empt_count2}</td>
                <td>{prc_count2}</td>
            </tr>
            <tr>
                <td>{name3}</td>
                <td>{count3}</td>
                <td>{empt_count3}</td>
                <td>{prc_count3}</td>
            </tr>
            <tr>
                <td>{name4}</td>
                <td>{count4}</td>
                <td>{empt_count4}</td>
                <td>{prc_count4}</td>
            </tr>
            <tr>
                <td>{name5}</td>
                <td>{count5}</td>
                <td>{empt_count5}</td>
                <td>{prc_count5}</td>
            </tr>
            <tr>
                <td>{name6}</td>
                <td>{count6}</td>
                <td>{empt_count6}</td>
                <td>{prc_count6}</td>
            </tr>
            <tr>
                <td>{name7}</td>
                <td>{count7}</td>
                <td>{empt_count7}</td>
                <td>{prc_count7}</td>
            </tr>
            <tr>
                <td>{name8}</td>
                <td>{count8}</td>
                <td>{empt_count8}</td>
                <td>{prc_count8}</td>
            </tr>
            <tr>
                <td>{name9}</td>
                <td>{count9}</td>
                <td>{empt_count9}</td>
                <td>{prc_count9}</td>
            </tr>
            <tr>
                <td>{name10}</td>
                <td>{count10}</td>
                <td>{empt_count10}</td>
                <td>{prc_count10}</td>
            </tr>
            <tr>
                <td>{name11}</td>
                <td>{count11}</td>
                <td>{empt_count11}</td>
                <td>{prc_count11}</td>
            </tr>
            <tr>
                <td>{name12}</td>
                <td>{count12}</td>
                <td>{empt_count12}</td>
                <td>{prc_count12}</td>
            </tr>
        </table>

        <h2 style="text-align: center;">Flaschen Anzahl: {count_all}</h2>
        <img src="img.jpg" alt="" style="display: block; margin:0 auto; height: 500px;">
    </main>
</body>
</html>